{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}


    <div style="max-width: 1200px; margin: 0 auto">
        <h2 style="font-family: sans-serif; text-align: center">Give your feedback!</h2>
    <div style="display: flex">
        {% for conference in conferences %}
            <div style="width: 300px; height:
             120px; margin-right:
             10px; color: white; background-color: #2d2d2d; font-family: sans-serif; padding: 20px; border-radius: 12px">
                <h4>Названия: {{ conference }}</h4>
                <p><a style="color:#fff;" href="/conference/{{ conference.id }}">Посмотреть</a></p>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
